.git/
.gitignore
.gitmodules

Dockerfile
.dockerignore

/build.sh
/bulma/
/sass/
/requirements-explicit.txt
/VERSION
/version.sh

__pycache__/
*.pyc

.DS_Store

/media/
/static/
/venv/
/.env
*.sqlite3
