{% with has_links=resources.has_links has_numbers=resources.has_numbers %}
<div class="block">
  <table class="table is-narrow">
    <thead>
      <tr>
  {% if has_numbers %}
        <th class="has-text-centered">#</th>
  {% endif %}
        <th class="has-text-left">Title</th>
  {% if has_links %}
        <th class="has-text-left">Links</th>
  {% endif %}
      </tr>
    </thead>
    <tbody>
  {% for resource in resources %}
      <tr>
    {% if has_numbers %}
        <td class="has-text-centered">
      {% if resource.number is not None %}
          {{ resource.number }}
      {% endif %}
        </td>
    {% endif %}
        <td class="has-text-left">
          <a href="{{ resource.file.url }}">
            {{ resource.title }}
          </a>
        </td>
    {% if has_links %}
        <td class="has-text-left">
      {% for link in resource.link_set.all %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% if not forloop.last %}
          <br />
        {% endif %}
      {% endfor %}
        </td>
    {% endif %}
      </tr>
  {% endfor %}
    </tbody>
  </table>
</div>
{% endwith %}
