{% extends "base.html" %}

{% load static %}

{% block title %}{{ request.site.name }}{% endblock %}
{% block description %}Jon Eyolfson teaches interactively with a mix of clear lectures and examples.{% endblock %}

{% block content %}
<div class="is-flex is-justify-content-center is-align-items-center" style="gap: 1rem;">
  <figure class="image is-128x128">
    <img class="is-rounded"
         src="{% static 'images/headshot.jpg' %}"
         alt="Jonathan Eyolfson's Headshot"
         width="128"
         height="128">
  </figure>
  <div class="has-text-centered">
    <p class="title is-4">Jon Eyolfson</p>
    <p class="subtitle is-6">
      <strong>University of Toronto</strong>
      <br>
      Assistant Professor, Teaching Stream
      <br>
      Electrical and Computer Engineering
    </p>
  </div>
</div>

<br>

<div class="content">
  <p>
    Jon Eyolfson teaches interactively with a mix of clear lectures and
    examples. This year he'll be starting at the University of Toronto.
    In the past year, he has taught operating systems courses
    while a postdoc at UCLA. Previously, he taught compiler courses at the
    University of Waterloo. He received his Ph.D. from the University of
    Waterloo, and holds a bachelors in Computer Engineering from Queen's
    University. His focus is on teaching and delivering the best learning
    experience to students.
  </p>
</div>

<div class="is-flex is-justify-content-center is-align-items-center"
     style="gap: 3rem;">
  <div class="has-text-centered">
    <div>
      <a href="https://www.youtube.com/channel/UCRUDk5mnr_ofVRrYqbUk-wQ">
        <p><i class="fab fa-youtube fa-4x"></i></p>
        <p>YouTube</p>
      </a>
    </div>
  </div>
  <div class="has-text-centered">
    <div>
      <a href="https://github.com/eyolfson">
        <p><i class="fab fa-github fa-4x"></i></p>
        <p>GitHub</p>
      </a>
    </div>
  </div>
</div>
{% endblock %}
